body{
	background-color: rgb(204, 204, 204)
}
h1{
	text-align: center
}
ul{
	background-color:white;
	border:1px solid;
	border-radius:10px;
}
li{
	list-style-type: none
}
a{
	text-decoration-line: none
}
h2{
	text-align: center
	
}
.player_one{
	align-items: center;
	background-color: rgb(255, 255, 255);  
	padding:10px;
	border:2px solid;
	border-radius:10px;
}








